{% extends "base.html" %}

{% block title %}{{ name_restaurant }}{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Додавання нової позиції</h2>

    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="mb-3">
            <label for="name" class="form-label">Назва позиції</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="mb-3">
            <label for="img" class="form-label">Завантажити зображення</label>
            <input type="file" class="form-control" id="img" name="img" accept="image/*" required>
        </div>


        <div class="mb-3">
            <label for="description" class="form-label">Опис</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Ціна (грн)</label>
            <input type="number" class="form-control" id="price" name="price" required>
        </div>

        <button type="submit" class="btn btn-primary">Додати товар</button>
    </form>
</div>
{% endblock content %}