{% extends "base.html" %}

{% block title %}{{ name_restaurant }}{% endblock title %}

{% block content %}
    <h1 class="text-center mb-4">{{ name_restaurant }}</h1>

    <div class="mb-4">
        <p>
            Смачно Онлайн — це ваш зручний і швидкий помічник у світі свіжих продуктів! Ми пропонуємо широкий вибір якісних овочів, фруктів, молочних виробів, м’яса, бакалії та делікатесів — усе це можна замовити онлайн з доставкою прямо до вашого дому.
        </p>
        <p>
            Наш магазин створений, щоб зробити процес покупок максимально простим, приємним і безпечним. Завдяки інтуїтивному інтерфейсу та регулярним акціям ви завжди знайдете найкращі пропозиції за вигідними цінами.
        </p>
        <p>
            Обирайте здорове харчування та економте свій час разом із Смачно Онлайн — свіжість та якість, які ви відчуєте з першого укусу!
        </p>
    </div>

    <div class="text-center mb-5">
        <a href="/asortiment" class="btn btn-primary btn-lg">Переглянути асортимент</a>
    </div>
{% endblock content %}